@{
    ViewBag.Title = "Home Page";
}
<body class="home-page">
<div class="container">
    <div class="row space-1"></div>
    <div class="row rowtitle">
        <div class="col-md-4">
            <h2 class="title">Movies</h2>
            <p>
                See a List of Movies
            </p>
            <p><a class="btn btn-default" href="~/Movies/Index"> Movies &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2 class="title">List of Directors</h2>
            <p>See list of Directors</p>
            <p><a class="btn btn-default" href="~/Directors/Index">Directors &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2 class="title">Genres</h2>
            <p>See Genres</p>
            <p><a class="btn btn-default" href="~/Genres/Index">Genres &raquo;</a></p>
        </div>
    </div>
    <div class="row space-1"></div>
</div>

</body>